<div class="container-fluid">

    <div class="row">
      <div class="col-12">
          <h2>Hero Profile</h2>
      </div>
    </div>
  
  
  <div class="row">
    <div class="col-12">

        <div class="card bg-light mb-3">
            <div class="card-header text-right">
              <button type="button" class="btn btn-primary" (click)="edit('current')">Edit</button>
              <button type="button" class="btn btn-primary left-spacing" (click)="edit('new')">New</button>
            </div>


            <div [ngSwitch]="editing">

                <div class="card-body hero-profile" *ngIf="editing === ''">
                    <div class="hero-profile__body">
                        <h5 class="card-title">Name: {{ hero$.name }}</h5>
                        <p class="card-text"><strong>Real name:</strong> {{ hero$.realname }}</p>
                        <p> <strong>Group Affiliations:</strong> <span *ngFor="let group of hero$['affiliated-group']"> {{ group.name }}, </span> </p>                  
                    </div>              
                    <div class="hero-profile__picture">
                        <img src="{{ hero$.picture }}" alt="" style="float:right;">
                    </div>
                </div>

                <div class="card-body hero-profile"  *ngIf="editing === 'current' || editing === 'new'">
                    <form>
                        <div class="form-group">
                          <label for="name">Name:</label>                          
                            <input type="text" class="form-control" id="name" placeholder="{{ editHero$.name }}">                          
                        </div>
                        <div class="form-group">
                          <label for="realname">Real name:</label>                          
                            <input type="text" class="form-control" id="realname" placeholder="{{ editHero$.realname }}">                          
                        </div>
                        <div class="form-group">
                            <label for="picture">Picture:</label>                            
                              <input type="text" class="form-control" id="picture" placeholder="{{ editHero$.picture }}">                           
                        </div>
                        
                        <div class="form-group">
                          <label for="group">Group Affiliations:</label>
                          <select class="form-control" id="group">
                            <option *ngFor="let group of editHero$['affiliated-group']" [value]="group.name">{{ group.name }}</option>
                          </select>
                        </div>

                        <div class="form-group row">
                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button class="btn btn-primary left-spacing" (click)="editing = ''">Cancel</button>
                          </div>
                        </div>
                    </form>
                                   
                    
                </div>



            </div>

            




        </div>

    </div>
   
  </div>
  
</div>