<div class="container-fluid">

    <div class="row">
      <div class="col-12">
          <h2>Hero Profile</h2>
      </div>
    </div>
  
  
  <div class="row">
    <div class="col-12">

        <div class="card bg-light mb-3">
            <div class="card-header text-right">
              <button type="button" class="btn btn-primary" (click)="edit('current')">Edit</button>
              <button type="button" class="btn btn-primary left-spacing" (click)="edit('new')">New</button>
            </div>


            <div [ngSwitch]="editing">

                <div class="card-body hero-profile" *ngIf="editing === ''">
                    <div class="hero-profile__body">
                        <h5 class="card-title">Name: {{ hero$.name }}</h5>
                        <p class="card-text"><strong>Real name:</strong> {{ hero$.realname }}</p>
                        <p> <strong>Group Affiliations:</strong> <span *ngFor="let group of hero$['affiliated-group']"> {{ group.name }}, </span> </p>                  
                    </div>
                    <div class="hero-profile__picture">
                        <img src="{{ hero$.picture }}" alt="" style="float:right;">
                    </div>
                </div>

                <div class="card-body hero-profile"  *ngIf="editing === 'current' || editing === 'new'">
                    <app-hero-editor [hero]="hero$" [affiliatedGroups]="affiliatedGroups" *ngIf="editing === 'current'"></app-hero-editor>
                    <app-hero-editor [hero]="editHero$" [affiliatedGroups]="affiliatedGroups" *ngIf="editing === 'new'"></app-hero-editor>
                    
                </div>
                <div class="card-footer text-right" *ngIf="editing === 'current' || editing === 'new'">
                        <button type="button" class="btn btn-danger" (click)="editing= ''">Cancel</button>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>